body {
    background-color: #000;
    overflow: hidden; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    position: relative;
    width: 200px; 
    height: 200px;
}

.sun {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, yellow 40%, orange 80%, rgba(255, 255, 255, 0) 100%); 
    width: 100px; 
    height: 100px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    animation: pulse 4s infinite; 
}

.moon {
    position: absolute;
    border-radius: 50%;
    background: #333; 
    width: 80px; 
    height: 80px;
    top: 50%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    animation: move 4s infinite linear; 
}

@keyframes pulse {
    0% {
        opacity: 0.5; 
    }
    50% {
        opacity: 1; 
    }
    100% {
        opacity: 0.5; 
    }
}

@keyframes move {
    0% {
        transform: translate(-50%, -50%) translateX(0); 
    }
    50% {
        transform: translate(-50%, -50%) translateX(40px); 
    }
    100% {
        transform: translate(-50%, -50%) translateX(0);
    }
}



