body{
    background-color: blue;
    background-image: url(img/mosaic.jpg) ;
    background-size: contain;
    background-repeat: repeat;
}

ol.a{
    list-style-type: lower-latin;
}


ul.b{
    list-style-type: square;
}

ol.c {
    list-style-type: Armenian;
}


ul.d{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
